<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>List of Users</h1>
<a th:href="@{/addUser}">Add New User</a>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="@{/editUser/{id}(id=${user.id})}">Edit</a> |
            <form th:action="@{/deleteUser/{id}(id=${user.id})}" method="post" style="display:inline;">
                <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
